@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="~/lib/html5shiv.js"></script>
<script type="text/javascript" src="~/lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="~/Content/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="~/Content/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="~/Content/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="~/Content/static/h-ui.admin/css/style.css" />
<link href="~/Content/myjscss/MyStyle.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="~/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>班车管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 班车管理 <span class="c-gray en">&gt;</span> 每日班车 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c" style="margin-bottom:15px"> 
        <form id="searchform">
            <input type="hidden" value="1" id="PageIndex" name="PageIndex">
            <input type="hidden" value="5" id="PageSize" name="PageSize">
		    <input type="text" class="input-text" style="width:15%" placeholder="起始站查询" id="Origin" name="Origin" value="">
            <input type="text" class="input-text" style="width:12%" placeholder="终点站查询" id="Destination" name="Destination" value="">
		    <input type="text" class="input-text" style="width:12%" placeholder="班车号查询" id="Number" name="Number" value="">
		    <a class="btn btn-success radius" href='javascript:$("#PageIndex").val(1);pageajax();'><i class="Hui-iconfont">&#xe665;</i> 搜班车</a>
        </form>
	</div>
	<div class="cl pd-5 bg-1 bk-gray">
         <span class="l"><a class="btn btn-primary radius" href="javascript:;" onclick="admin_role_add('添加新班车','Create','800')"><i class="Hui-iconfont">&#xe600;</i> 添加新班车</a></span> 
        <span class="r">共有数据：<strong id="listcount">0</strong> 条</span> 

	</div>
	<table class="table table-border table-bordered table-hover table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="7">班车管理
                    <span style="font-size:10px;margin-left:20px;">每页显示：</span>
                    <select id="pageSizeSelect" onchange="$('#PageIndex').val(1);$('#PageSize').val(this.value);pageajax();">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                    </select>
				</th>
                
			</tr>
			<tr class="text-c">
                <th width="90">班车编号</th>
                <th width="100">起始站</th>
				<th width="100">终点站</th>
                <th width="90">每日发车时间</th>
                <th width="60">票价</th>
                <th width="70">班车状态</th>
				<th width="70">操作</th>
			</tr>
		</thead>
		<tbody id="pagetbody">

		</tbody>
	</table>
    <div style="margin-top:10px;">
        <ul class="page"  id="MyPage"></ul>
    </div>
    
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="~/Content/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="~/Content/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="~/Content/static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="~/Content/static/h-ui.admin/js/H-ui.admin.js"></script> 
    <!--/_footer 作为公共模版分离出去-->
<script type="text/javascript" src="~/Content/myjscss/MyJs.js"></script>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">

    //每页数量，当前页
    function pageajax() {
        var tbody = window.document.getElementById("pagetbody");
        var sumdata = window.document.getElementById("listcount");
        var nowindex = window.document.getElementById("PageIndex");
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/FlightInfo/Index",//url
            data: $('#searchform').serialize(),
            success: function (data) {
                var str = "";
                var flightinfolist = data.Item1;

                for (var i = 0; i < flightinfolist.length; i++) {

                    str += "<tr class='text-c'>";
                    str += "<td><a onclick=\"admin_role_edit('" + flightinfolist[i].Number + "班车详情','/FlightInfo/Details','" + flightinfolist[i].ID + "')\"  >" + flightinfolist[i].Number + "</a></td>";
                    str += "<td>" + flightinfolist[i].PathInfo.Origin + "</td>";
                    str += "<td>" + flightinfolist[i].PathInfo.Destination + "</td>";
                    str += "<td>" + Num2Date(flightinfolist[i].GoTime, 'yyyy-MM-dd hh:mm:ss').split(' ')[1] + "</td>";
                    str += "<td>" + flightinfolist[i].Price + "</td>";

                    str += "<td class='td-status'>";
                    if (flightinfolist[i].Status == 1) {
                        str += "<span class='label label-success radius'>正常发车</span>";
                    }
                    else {
                        str += "<span class='label radius'>停止发车</span>";
                    }
                    str += "</td>";

                    str += "<td class='td-manage'>";

                    if (flightinfolist[i].Status == 1) {
                        str += "<a style='text-decoration:none' onClick=\"admin_stop(this,'" + flightinfolist[i].ID + "','2','" + flightinfolist[i].Number + "')\" title='停运'><i class='Hui-iconfont'>&#xe631;</i></a>";
                    }
                    else {
                        str += "<a style='text-decoration:none' onClick=\"admin_stop(this,'" + flightinfolist[i].ID + "','1','" + flightinfolist[i].Number + "')\" title='启运'><i class='Hui-iconfont'>&#xe615;</i> </a>";
                    }

                    str += "<a title=\"编辑\" onclick=\"admin_role_edit('" + flightinfolist[i].Number + " 班车编辑','/FlightInfo/Edit','" + flightinfolist[i].ID + "')\" style=\"text-decoration:none\"> <i class=\"Hui-iconfont\">&#xe6df;</i></a>";
                    str += "<a title=\"删除\" onclick=\"admin_role_del(this,'" + flightinfolist[i].ID + "')\" class=\"ml-5\" style=\"text-decoration:none\"><i class=\"Hui-iconfont\">&#xe6e2;</i></a>";
                    str += "</td>";
                    str += "</tr>";
                }
                tbody.innerHTML = str;
                sumdata.innerText = data.Item2.TotalItems;
                nowindex.value = data.Item2.PageIndex;
                initMypage(data.Item2.TotalItems, data.Item2.PageIndex, data.Item2.PageSize);

            },

        });

    }


    var GG = {
        "kk": function (pageindex) {
            var indexkey = $('#PageIndex');
            var nowindex = indexkey.val();
            if (nowindex != pageindex) {
                indexkey.val(pageindex);
                pageajax();
            }
        }
    }


    function initMypage(count, current, pagecount) {
        //总数量，当前显示页，每页显示数，输出当前页函数
        $("#MyPage").initPage(count, current, pagecount, GG.kk);
    }

    $(function () {
        pageajax();
    });




    /*管理员-停用*/
    function admin_stop(obj, id, status, number) {
        var msg = number;
        if (status == 1) {
            msg = "确认要" + number + " 班车开始发车吗？";
        }
        else {
            msg = "确认要" + number + " 班车停止发车吗？";
        }
        layer.confirm(msg, function (index) {
            //此处请求后台程序，下方是成功后的前台处理……

            $.ajax({
                //几个参数需要注意一下
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "/FlightInfo/SetStatus",//url
                data: { id: id, status: status },
                success: function (data) {
                    if (data == "ok") {
                        if (status == 2) {
                            $(obj).parents("tr").find(".td-manage").prepend("<a style='text-decoration:none' onClick=\"admin_stop(this,'" + id + "','1','" + number + "')\" title='启运'><i class='Hui-iconfont'>&#xe615;</i></a>");
                            $(obj).parents("tr").find(".td-status").html('<span class="label radius">停止发车</span>');
                            $(obj).remove();
                            layer.msg('已停运!', { icon: 5, time: 1000 });
                        }
                        else {
                            $(obj).parents("tr").find(".td-manage").prepend("<a style='text-decoration:none' onClick=\"admin_stop(this,'" + id + "','2','" + number + "')\" title='停运'><i class='Hui-iconfont'>&#xe631;</i></a>");
                            $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">正常发车</span>');
                            $(obj).remove();
                            layer.msg('开始运营!', { icon: 6, time: 1000 });
                        }
                    }
                    else {
                        layer.msg('设置错误！请稍后重试！', { icon: 5, time: 1000 });
                    }

                },
                error: function (err) {
                    layer.msg('设置错误！请稍后重试！', { icon: 5, time: 1000 });
                }
            });

        });
    }


    /*管理员-角色-添加*/
    function admin_role_add(title, url, w, h) {
        layer_show(title, url, w, h);
    }
    /*管理员-角色-编辑*/
    function admin_role_edit(title, url, id, w, h) {
        layer_show(title, url + "/" + id, w, h);
    }
    /*管理员-角色-删除*/
    function admin_role_del(obj, id) {
        layer.confirm('路线删除须谨慎，确认要删除吗？', function (index) {
            $.ajax({
                type: 'POST',
                url: '/FlightInfo/Delete',
                data: { id: id },
                dataType: 'json',
                success: function (data) {
                    if (data == "ok") {
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!', { icon: 1, time: 1000 });
                    }
                    else {
                        layer.msg('删除失败!请稍后重试!', { icon: 2, time: 1000 });
                    }
                },
                error: function (data) {
                    console.log(data.msg);
                },
            });
        });
    }
</script>
</body>
</html>