@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="~/lib/html5shiv.js"></script>
<script type="text/javascript" src="~/lib/respond.min.js"></script>
<![endif]-->
<link href="~/Content/static/h-ui/css/H-ui.min.css" rel="stylesheet" type="text/css"/>
<link href="~/Content/static/h-ui.admin/css/H-ui.login.css" rel="stylesheet" type="text/css" />
<link href="~/Content/static/h-ui.admin/css/style.css" rel="stylesheet" type="text/css" />
<link href="~/Content/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="~/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>后台登录</title>

    <script type="text/javascript">
        //改变图片地址，重新申请一下
        function changeCheckCode() {
            var old = $("#imgCode").attr("src");
            var nowtime = new Date();
            var str = old + nowtime.getDay() + nowtime.getSeconds() + nowtime.getMilliseconds();

            $("#imgCode").attr("src", str);
        }

        function beforeSubmit(form) {
            if (form.login.value == "" || form.pwd.value == "" || form.vcode.value == "") {
                changeCheckCode();
                return false;
            }
            else {

                $.ajax({
                    //几个参数需要注意一下
                    type: "POST",//方法类型
                    dataType: "json",//预期服务器返回的数据类型
                    async: false,
                    url: "/UserInfo/ProcessLogin",//url
                    data: $('#loginform').serialize(),
                    success: function (data) {
                        if (data == "ok") {
                            return true;
                        }
                        else {
                            changeCheckCode();
                            alert(data);
                            return false;
                        }
                    },

                });


            }
        }



      </script>
</head>
    
<body>
<input type="hidden" id="TenantId" name="TenantId" value="" />
<div class="header"></div>
<div class="loginWraper">
  <div class="loginBox">
    <form class="form form-horizontal" id="loginform" action="/UserInfo/ActionUrl"  method="post" onSubmit="return beforeSubmit(this);">
      <div class="row cl">
        <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60d;</i></label>
        <div class="formControls col-xs-8">
          <input id="" name="login" type="text" placeholder="账户" class="input-text size-L">
        </div>
      </div>
      <div class="row cl">
        <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>
        <div class="formControls col-xs-8">
          <input id="" name="pwd" type="password" placeholder="密码" class="input-text size-L">
        </div>
      </div>
      <div class="row cl">
        <div class="formControls col-xs-8 col-xs-offset-3">
          <input class="input-text size-L" name="vcode" type="text" placeholder="验证码" style="width:150px;">
          <img id="imgCode" src="/UserInfo/ShowVCode?id=2" onclick="changeCheckCode();"> <a id="kanbuq" href="javascript:;" onclick="changeCheckCode();" >看不清，换一张</a> </div>
      </div>
      <div class="row cl">
        @*<div class="formControls col-xs-8 col-xs-offset-3">
          <label for="online">
            <input type="checkbox" name="online" id="online" value="">
            使我保持登录状态</label>
        </div>*@
      </div>
      <div class="row cl">
        <div class="formControls col-xs-8 col-xs-offset-3">
          <input name="" type="submit" class="btn btn-success radius size-L" value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;">
          <input name="" type="reset" class="btn btn-default radius size-L" value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;">
        </div>
      </div>
    </form>
  </div>
</div>
<div class="footer">Copyright 淮阴师范学院 by 倪敏 v1.0</div>
<script type="text/javascript" src="~/Content/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="~/Content/static/h-ui/js/H-ui.min.js"></script>
</body>
</html>