@{
    Layout = null;
}

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<!--手机自适应<meta name="viewport" content="width=device,initial-scale=1.0">-->
<title>汽车票登录</title> 
<link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
<script type="text/javascript" src="~/Content/js/jquery.min.js"></script> 
<script type="text/javascript" src="~/Content/js/comm.js"></script>

</head>
<body>
<!--head-->
   <div class="header">
   		<div class="inner">
   			<div class="logo">
                <a href="index.html" title="汽车票"><img src="~/Content/images/logo.png" width="350" height="60"/></a>
   			</div>
   			<div class="headlink">
                <a href="/Home/Index">车票查询</a>
   			</div>
   		</div>
   </div>
   <!--head end-->
   <!--banner-->
   <div class="middle">
   <div class="cont">
   		<div class="banner">
   			<img src="~/Content/images/tr.png" width="860" height="400" style="opacity:0.3"/>
   		</div>
   		<div class="loginbox">
        
   			<div class="head">
   				<a class="left" href="###">快速登录</a>
   				<a class="right sel" href="###">账号密码登录</a>
   				<div class="bottomline"></div>
   			</div>
            
            <div class="ct">

		<div class="item">
			暂未开通此功能
		</div>
            	
            	<div class="item">
            		    <div class="logintip"></div>
            		    <div class="inputbox">
            			    <input name="username" autocomplete="off" placeholder="账号"  />
            			    <a href="javascript:void(0)" class="delusername"></a>
            		    </div>
                        <div class="inputbox">
                    	    <input name="password" type="password" placeholder="密码" />
                        </div>
                        <div class="outbox" style="margin-top:30px">
	                    
                        </div>
                    
                        <div class="submitBtn">
                    	    <input type="submit" value="登 录"/>
                        </div>
			
                        <div style="margin-top:20px;">
                            <a href="UserInfo/ZhuCe" >立即注册</a>
                            <a href="Home/Index" style="float:right;">免登陆查询 </a>
                         </div>

            	</div>

		
            </div>
   		</div>
   </div> 
   </div>
    <!--banner end-->
    <div class="foot">
      
     汽车票预定系统版权所有-淮阴师范学院

    </div>
</body>
</html>

